@page
@model KNU.IT.DbManagementSystem.Pages.CreateRowModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Row";
}

<br />
<h4>New row</h4>
<hr />
<div>
    <form method="post">
        @foreach (var column in Model.Schema)
        {
            <div class="form-group">
                @column.Key
                @Html.EditorFor(model => Model.RowFields[column.Key])
            </div>
        }
        <p>
            <input type="submit" value="Create" asp-page-handler="CreateRow" asp-route-tableId="@Model.TableId" />
        </p>
    </form>
</div>