@page
@model KNU.IT.DbManagementSystem.Pages.CreateDatabaseModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Database";
}

<br />
<h3>New database</h3>
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Database.Name)
            @Html.EditorFor(model => model.Database.Name)
            @Html.ValidationMessageFor(model => model.Database.Name)
        </div>
        <p>
            <input type="submit" value="Create" asp-page-handler="CreateDatabase" />
        </p>
    </form>
</div>

