@page
@model KNU.IT.DbManagementSystem.Pages.ExploreDatabasesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Explore Databases";
}

<div>
    <table class="table">
        <tbody>
            @foreach (var database in Model.Databases)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => database.Name)
                    </td>
                    <td>
                        <a asp-page="/ExploreTables" asp-route-databaseId="@database.Id">Explore Tables</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form method="post">
        <input type="submit" asp-page-handler="CreateNewDatabase" name="CreateNewDatabase" value="Create New" />
    </form>
</div>